@import '~antd/lib/style/themes/default.less'; // Hoặc '~antd/lib/style/themes/dark.less' cho chế độ tối
@import '~antd/dist/antd.less';

@primary-color: #1DA1F2;
@link-color: #1DA1F2;
@border-radius-base: 2px;